<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Clubhouse</title>
    </head>
    <body>
        <h1>Clubhouse</h1>
        <p>First time? <a href="/sign-up">Sign up.</a></p>
    </body>
</html>