<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Sign Up</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div class="header">Sign Up</div>
        <ul>
            <% if (locals.errors) { %>
                <% errors.forEach((error) => { %>
                    <li class="error"><%= error.msg %></li>
                <% }); %>
            <% }; %>
        </ul>
        <ul>
            <% if (locals.errorsExist) { %>
                <li class="error"><%= errorsExist.msg %></li>
            <% }; %>
        </ul>
        <div class="form-container">
            <form action="/sign-up" method="POST">
                <div class="form-row">
                    <label for="first-name">First name:</label>
                    <input type="text" name="firstName" id="first-name" placeholder="John" maxlength="10" required />
                </div>
                <div class="form-row">
                    <label for="last-name">Last name:</label>
                    <input type="text" name="lastName" id="last-name" placeholder="Doe" maxlength="10" required />
                </div>
                <div class="form-row">
                    <label for="username">Username:</label>
                    <input type="email" name="username" id="username" placeholder="jdoe@templar.com" required maxlength="50" />
                </div>
                <div class="form-row">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required />
                </div>
                <div class="form-row">
                    <label for="confirm-password">Confirm password:</label>
                    <input type="password" name="confirmPassword" id="confirm-password" required />
                </div>
                <div class="form-row-admin">
                    <input type="checkbox" name="isAdmin" id="is-admin" />
                    <label for="is-admin">I want to be an admin</label>
                </div>
                <div class="form-row-sign-up-submit">
                    <button type="submit" class="sign-up-button">Sign up</button>
                </div>
            </form>
        </div>
    </body>
</html>